<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-headsetdetection"
        version="3.0.0">

  <name>Headset Detection</name>

  <description>Detect a wired or Bluetooth headset</description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/HeadsetDetection.js" name="HeadsetDetection">
    <clobbers target="window.HeadsetDetection" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="HeadsetDetection">
        <param name="ios-package" value="HeadsetDetection"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/HeadsetDetection.h"/>
    <source-file src="src/ios/HeadsetDetection.m"/>
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HeadsetDetection">
        <param name="android-package" value="nl.xservices.plugins.HeadsetDetection" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/HeadsetDetection.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

</plugin>